
.header{
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    &-web{
        display: flex;
        flex-direction: column;
        padding: 25px 65px;
        gap: 20px;
        
    }
    &-web-top{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        height: 100%;
        width: 100%;      
        &-left{
            height: 100%;
            display: flex;
            align-items: center;
            gap: 50px;
            .head-logo{
                a{
                    display: inline-block;
                    img{
                        width: 76.8px;
                        height: 33px
                    }
                }
            }
            .departmans{
                display: flex;
                gap: 10px;
                cursor: pointer;
                .left{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 0px 5px;
                    position: relative;
                    img{
                        height: 25px;
                        width: 25px;
                        border-radius: 35%;
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p:first-of-type{
                        font-size: 0.9375rem;
                        letter-spacing: -0.45px;
                    }  
                    p:last-of-type{
                        font-size: 0.6875rem;
                        margin-bottom: 5px;
                        color: #e1e1e1;
                        font-weight: bolder;
                    } 
                    button{
                        display: block;
                        font-size: 0.875rem;
                        color: #6f63ee;
                        background-color: inherit;
                        text-align: start;
                        padding-left: 2px;
                        svg{
                            margin-left: 8px;
                            background-color: white;
                            color: #6f63ee;
                            border-radius: 50%;
                        }
                    }
                
                }
                .categories{
                    display: var(--dp-c);
                    position: absolute;
                    z-index: 10;
                    background-color: #fff;
                    top: 160px;
                    left: 0;        
                    animation: fadein_2 .75s ease-in alternate ;
                   
                }  
            }
            & .departmans:focus-within .categories{
                --dp-c:flex;
                --dp-s:block;
                
            }
            & .departmans:not(:focus-within) .categories{
                --dp-c:none;
                --dp-s:none;
                
            }
           
        }
        &-right{
            flex-grow: 1;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;                   
            .search-bar,.user-section{
                display: flex;                           
            }
            .search-bar{
                align-items: stretch;
                justify-content: flex-end;
                margin-right: 40px;
                border-radius: 6px;
                flex: 1;
                label svg,input::placeholder{
                    color: #cdcdce;
                    font-weight: 600;                    
                }
                label{
                    width: 92%;
                    position: relative;
                    padding-left: 50px;
                    background-color: #f4f4f4;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    input{
                        background-color: #f4f4f4;
                        width: 100%;
                        color: #000;                 
                        border-radius: 20px;
                        padding-left: 5px;
                        font-weight: bold;
                        &:focus{
                            
                        }
                    }
                    & svg{
                        position: absolute;
                        top: calc(50% - 12px);
                        left: 21px;
                        & path{
                            color: #e0e0e0;
                            opacity: 0.6;
                        }
                    }
                }               
            }
            .user-section{
                align-items: center;
                justify-content: center;
                gap: 32px;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    color: black;
                    background-color: #f4f4f4;
                    height: 100%;
                    
                    border-radius: 20px;
                    padding: 10px 15px;
                    .info{
                        span{
                            font-size: 0.75rem;
                            font-weight: normal;
                        }
                        p{
                            font-weight: 600;
                        }
                    }
                    .badgee{
                        position: relative;
                        svg{
                            color: #6f63ee;
                        }
                        .badgee-value{
                            height: 20px;
                            width: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            /* padding: 10px; */
                            background-color: #6f63ee;
                            position: absolute;
                            border-radius: 11.5px;
                            font-size: 0.75rem;
                            color: white;
                            top: -22px;
                            left: 22px;
                            font-weight: bold;
                        }
                    }
                }  
                &:has(.user-basket:hover) .user-basket .tooltips{
                    --dp-t:block;
                }
                &:has(.user-basket:not(:hover)) .user-basket .tooltips{
                    --dp-t:none;
                }
                .user-basket{
                    position: relative;           
                    .tooltips{
                        display: var(--dp-t);
                        color: black;
                        transform: translate(-36%, 59%);
                        z-index: 100;
                        width: 300px;
                        padding-top: 10px;
                        .tooltip-body{
                            border-radius: 10px;
                            border: 1px solid #e6e6e6;
                            background-color: #fff;
                            .title,.products{
                                white-space: nowrap;
                            }
                            .title{
                                font-size: 0.9375rem;
                                font-weight: 600;
                                padding: 20px 20px 0 20px ;
                            }
                            .products{
                                display: flex;
                                flex-direction: column;
                                .item{
                                    display: flex;
                                    align-items: center;
                                    padding: 10px 0;
                                    border-bottom: 1px solid #e6e6e6;
                                    img{
                                        height: 90px;
                                        width: 134px;
                                        object-fit: cover;
                                    }
                                    .left{
                                        p{
                                            font-size: 0.9375rem;
                                            font-weight: 600;
                                            text-wrap:wrap;
                                        }
                                        span{
                                            color: #b4b4b4;
                                            font-weight: 600;
                                            font-size: 0.75rem;
                                            margin: 5px 0;
                                            display: inline-block;
                                        }
                                    }
                                }
                                .item:first-child{
                                   
                                }
                            }
                            .go-basket{
                                color: white;
                                background-color: #6f63ee;
                                display: block;
                                text-align: center;
                                padding: 12px;
                                border-radius: 14px;
                                width: 60%;
                                margin: 10px auto;
                                font-weight: 600;
                            }
                        }
                    }
                    
                }
            }
        }
    }
    &-web-navbar{
        margin: auto;
        nav{
            display: flex;
            gap: 30px;
            a{
                color: #000;
                font-weight: 400;
                font-size: 0.9375rem;
                &:hover{
                    color: #6f63ee;
                }
            }
        }
    }
    
}


#close-btn{
    position: absolute;
    left: -99999px;
    width: 0;
    height: 0;   
}
  

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein_2 {
    from { top: -300px; }
    to { top: 160px; }
}

@keyframes fadein_3 {
    from { max-height: 0; }
    to { max-height: 660px; }
}




























