.header{
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    &-web{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        padding: 20px 0;
        &-left{
            height: 100%;
            display: flex;
            align-items: center;
            gap: 50px;
            .head-logo{
                a{
                    display: inline-block;
                    img{
                       height: 70px;
                       width: 182.2px;
                    }
                }
            }
            nav{
                display: flex;
                gap: 30px;
                & a{
                    color: #000;      
                    &:hover:not(:first-child){
                        color: #ff6000 ;
                    }
                }
                & a:first-child{
                    font-weight: bold;
                }
            }
        }
        &-right{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;                   
            .search-bar,.user-section{
                display: flex;                           
            }
            .search-bar{
                flex-grow: 1;
                align-items: stretch;
                justify-content: flex-end;
                margin-right: 40px;
                label,.categories{
                    background-color: white;
                }
                label svg,input::placeholder,.categories{
                    color: #c9d0d1;
                    font-weight: 600;                    
                }
                label{
                    width: 40%;
                    position: relative;
                    input{
                        padding: 10px 30px;
                        color: #000;
                        border: 1px solid #dadada;
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        width: 100%;
                    }
                    & svg{
                        position: absolute;
                        top: calc(50% - 8px);
                        left: 10px;
                        & path{
                            color: rgb(119, 136, 153);
                            opacity: 0.6;
                        }
                    }
                }
                .search{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: black;
                    color: #fff;
                    padding: 0 20px;
                    border: 1px solid #000;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    
                }
                .categories-wrapper{
                    position: relative;
                    .categories{
                        height: 100%;
                        border-top: 1px solid #dadada;
                        border-bottom: 1px solid #dadada;
                        position: relative;
                        padding: 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 5px;
                        svg{
                            position: relative;
                            top: 1px;
                            color: grey;
                            opacity: .75;
                        }
                    }
                    .categories-list{
                        height: 0px;
                        max-height: 0px;
                        overflow: hidden;
                        width: 100%;
                        position: absolute;
                        top: 50px;
                        left: 0;
                        background-color: #fff;
                        box-shadow: 0px 36px 70px -3px rgba(0,0,0,0.75);
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        border-radius: 6px;
                        text-align: center;
                        transition: 1s all;
                        li{
                            width: 100%;
                            a{
                                color: black;
                                display: block;
                                padding: 8px 0;
                                &:hover{
                                    background-color: black;
                                    color: white;
                                }
                            }
                        }
                    }
                    &:focus-within .categories-list{
                        height: 468px;
                        max-height: 468px;
                        transition: 1s all;
                    }
                }
            }
            .user-section{
                align-items: center;
                justify-content: center;
                gap: 32px;
                a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    color: black;
                    .info{
                        span{
                            font-size: 0.75rem;
                            font-weight: normal;
                        }
                        p{
                            font-weight: 600;
                        }
                    }
                }  
            }
        }
    }
}










#close_btn{
    position: absolute;
    left: -99999px;
    width: 0;
    height: 0;
    visibility: hidden;
}
  






























