
.header{
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    &-web{
        display: flex;
        flex-direction: column;
        padding: 25px 65px;
        gap: 20px;
        @include BootstrapMaxWidthResponsive(xm){
            gap: 5px;
        }
        @include BootstrapMaxWidthResponsive(xl){
            padding: 25px 30px;
        }
        @include BootstrapMaxWidthResponsive(md){
            padding: 25px 15px;
            gap: 15px;
        }  
        
    }
    &-web-top{
        display: flex;
        align-items: stretch;
        @include BootstrapMaxWidthResponsive(sm){
            align-items: center;
           
        }  
        justify-content: space-between;
        height: 100%;
        width: 100%;      
        &-left{
            height: 100%;
            display: flex;
            align-items: center;
            gap: 50px;
            .head-logo{
                a{
                    display: inline-block;
                    img{
                        width: 76.8px;
                        height: 33px
                    }
                }
            }
            .departmans{
                display: flex;
                gap: 10px;
                @include BootstrapMaxWidthResponsive(sm){
                    display: none;
                   
                }  
                cursor: pointer;
                .left{
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    gap: 0px 5px;
                    position: relative;
                    img{
                        height: 25px;
                        width: 25px;
                        border-radius: 35%;
                    }
                }
                .right{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    p:first-of-type{
                        font-size: 0.9375rem;
                        letter-spacing: -0.45px;
                    }  
                    p:last-of-type{
                        font-size: 0.6875rem;
                        margin-bottom: 5px;
                        color: #e1e1e1;
                        font-weight: bolder;
                    } 
                    button{
                        display: block;
                        font-size: 0.875rem;
                        color: #6f63ee;
                        background-color: inherit;
                        text-align: start;
                        padding-left: 2px;
                        svg{
                            margin-left: 8px;
                            background-color: white;
                            color: #6f63ee;
                            border-radius: 50%;
                        }
                    }
                
                }
                .categories{
                    display: var(--dp-c);
                    position: absolute;
                    z-index: 10;
                    background-color: #fff;
                    top: 160px;
                    left: 0;        
                    animation: fadein_2 .75s ease-in alternate;
                }  
            }
            & .departmans:focus-within .categories{
                --dp-c:flex;
                --dp-s:block;
                
            }
            & .departmans:not(:focus-within) .categories{
                --dp-c:none;
                --dp-s:none;
                
            }
           
        }
        &-right{
            flex-grow: 1;
            display: flex;
            align-items: stretch;
            justify-content: flex-end;                   
            .search-bar,.user-section{
                display: flex;                           
            }
            &:has(.user-section .search_res input[type="checkbox"]:checked) .search-bar label{
                display: flex !important;
                max-height: 350px;
                box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                border: 1px solid #6e63ed;
                &:focus{
                    box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                    border: 1px solid #6e63ed;
                }
              
            }
            &:has(.user-section .search_res input:not(:checked)) .search-bar .search-list{
                // max-height: 350px;
                // box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                // border: 1px solid #6e63ed;
                // &:focus{
                //     box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                //     border: 1px solid #6e63ed;
                // }
            }
            .user-section .search-bar:focus{
            
            }
            .search-bar{
                align-items: stretch;
                justify-content: flex-end;
                margin-right: 40px;
                border-radius: 6px;
                position: relative;
                flex: 1;
                label svg,input::placeholder{
                    color: #cdcdce;
                    font-weight: 600;                    
                }
                & > label{
                    width: 92%;
                    position: relative;
                    background-color: #f4f4f4;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    
                    @include BootstrapMaxWidthResponsive(md_h){
                        display: none;
                        min-width: 200px;
                        position: absolute;
                        min-height: 62px;
                        left: revert;
                        right: -320px;
                        z-index: 999;
                    }  
                    @include BootstrapMaxWidthResponsive(xm){
                        left: 50%;
                        min-width: 250px;
                        transform: translate(-21%, 0);
                    }   
                    input{
                        background-color: #f4f4f4;
                        width: 100%;
                        color: #000;                 
                        border-radius: 20px;
                        padding-left: 5px;
                        font-weight: bold;
                        height: 100%;
                        border: 1px solid #fff;
                        padding-left: 50px;
                        @include BootstrapMaxWidthResponsive(md_h){
                            min-height: 62px;
                        }
                        @include BootstrapMaxWidthResponsive(xm){
                            &:focus{
                                box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                                border: 1px solid #6e63ed;
                            }
                        }
                        &:hover{
                            border: 1px solid #6e63ed; 
                        }
                        &:focus{
                            box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                            border: 1px solid #6e63ed;
                        }
                        &::placeholder{
                            color: #b4b4b4;
                            font-weight: 600;
                        }
                     
                    }
                    & svg{
                        position: absolute;
                        top: calc(50% - 12px);
                        left: 21px;
                        & path{
                            color: #e0e0e0;
                            opacity: 0.6;
                        }
                    }
                }    
                
                &:has(label input:focus) .search-list{ 
                    max-height: 350px;
                    box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                    border: 1px solid #6e63ed;
                    @include BootstrapMaxWidthResponsive(md_h){
                        min-width: 200px;
                        left: 121px;
                    }  
                    
                }   
                .search-list{
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height .66s; 
                    position: absolute !important;
                    z-index: 999;
                    padding: 0;
                    width: 92%;
                    border-radius: 20px;
                    top: 60px;
                    border-radius: 20px;
                    //padding-top: 10px;
                    background-color: #f4f4f4;
                    margin-top: 12px;
                    box-shadow: 0 0 0 4px rgba(110,99,237,0);
                    border: 1px solid #fff;
                    @include BootstrapMaxWidthResponsive(xm){
                        left: 50% !important;
                        min-width: 250px !important;
                        transform: translate(-21%, 0) !important;
                    }     
                    .close2{
                        position: absolute;
                        background-color: inherit;
                        right: 15px;
                        top: 7px;
                        background-color: inherit;
                        border-width: 0px !important;
                        box-shadow: 0 0 0 4px rgba(110, 99, 237, 0) !important;
                        svg{
                            color: black !important;
                            background-color: rebeccapurple;
                            border-radius: 16px;
                        }
                    }

                    &-title{
                        font-weight: bold;
                        margin-top: 1px;
                        display: block;
                        padding: 0 27px;
                        margin-top: 15px;
                    }
                    ul{
                        padding: 0 27px;
                        border-radius: 20px;
                        margin-top: 10px;
                        li{
                            a{
                                display: block;
                                color: #000;
                                font-weight: 500;
                                padding-bottom: 5px;
                            }
                        }
                    }
                    .popular{
                        margin-top: 10px;
                        &_list{
                            display: flex;
                            gap: 20px;
                            margin-top: 10px;
                            padding: 0 27px 17px;
                            @include BootstrapMaxWidthResponsive(md_h){
                                flex-direction: column;
                                gap: 10px;
                                margin-bottom: 5px;
                            }
                            a{
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                color: #000;
                                font-size: 0.9375rem;
                                background-color: #f0effd;
                                padding: 5px 10px;
                                border-radius: 6px;
                                svg{
                                    color: #fe6d04;
                                }
                            }
                        }
                    }
                }
                 
               
            }
          
            .user-section{
                align-items: center;
                justify-content: center;
                gap: 32px;
                @include BootstrapMaxWidthResponsive(xm){
                    gap: 15px;
                }
                .user-favorite-real{
                    @include BootstrapMaxWidthResponsive(xm){
                        display: none;
                    }
                }
                a,.search_res,.user-account,.user-basket{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    color: black;
                    background-color: #f4f4f4;
                    height: 100%;
                    border-radius: 20px;
                    padding: 10px 15px;
                    @include BootstrapMaxWidthResponsive(xm){
                       font-size: 0.875rem;
                    }
                    .info{
                        span{
                            font-size: 0.75rem;
                            font-weight: normal;
                            @include BootstrapMaxWidthResponsive(xm){
                                font-size: 0.675rem;
                            }
                        }
                        p{
                            font-weight: 600;
                        }
                    }
                    .badgee{
                        position: relative;
                        svg{
                            color: #6f63ee;
                        }
                        .badgee-value{
                            height: 20px;
                            width: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            /* padding: 10px; */
                            background-color: #6f63ee;
                            position: absolute;
                            border-radius: 11.5px;
                            font-size: 0.75rem;
                            color: white;
                            top: -28px;
                            left: 77px;
                            font-weight: bold;
                        }
                    }
                }  
                .search_res{
                    display: none;
                    @include BootstrapMaxWidthResponsive(md_h){
                        display: flex;
                    }  
                    input[type="checkbox"]{
                        width: 0;
                        height: 0;
                        overflow: hidden;
                        position: absolute;
                        left: -99999px;
                    }
                }
                &:has(.user-basket:hover) .user-basket .tooltips{
                    --dp-t:block;
                }
                &:has(.user-basket:not(:hover)) .user-basket .tooltips{
                    --dp-t:none;
                }
                .user-basket{
                    position: relative;     
                    @include BootstrapMaxWidthResponsive(xm){
                        display: none;
                    }      
                    .tooltips{
                        display: var(--dp-t);
                        color: black;
                        transform: translate(0px,0px);
                        top:60px;
                        z-index: 100;
                        width: 300px;
                        padding-top: 10px;
                        left: -91px;
                        .tooltip-body{
                            border-radius: 10px;
                            border: 1px solid #e6e6e6;
                            background-color: #fff;
                            .empty_tooltip{
                                padding: 37px 0 37px;
                                display: block;
                                text-align: center;
                                font-weight: bold;
                                font-size: 1.1rem;

                            }
                            .title,.products{
                                white-space: nowrap;
                            }
                            .title{
                                font-size: 0.9375rem;
                                font-weight: 600;
                                padding: 20px 20px 0 20px ;
                            }
                            .products{
                                display: flex;
                                flex-direction: column;
                                max-height: 333px;
                                overflow-y: auto;
                                
                                .item{
                                    display: flex;
                                    align-items: center;
                                    padding: 10px 0;
                                    border-bottom: 1px solid #e6e6e6;
                                    img{
                                        height: 90px;
                                        width: 134px;
                                        object-fit: cover;
                                    }
                                    .left{
                                        p{
                                            font-size: 0.9375rem;
                                            font-weight: 600;
                                            text-wrap:wrap;
                                        }
                                        span{
                                            color: #b4b4b4;
                                            font-weight: 600;
                                            font-size: 0.75rem;
                                            margin: 5px 0;
                                            display: inline-block;
                                        }
                                    }
                                }
                                .item:first-child{
                                   
                                }
                            }
                            .go-basket{
                                color: white;
                                background-color: #6f63ee;
                                display: block;
                                text-align: center;
                                padding: 12px;
                                border-radius: 14px;
                                width: 60%;
                                margin: 10px auto;
                                font-weight: 600;
                            }
                        }
                    }
                    
                }
                &:has(.user-account:hover) .user-account .tooltips{
                    --dp-s:block;
                }
                &:has(.user-account:not(:hover)) .user-account .tooltips{
                    --dp-s:none;
                }
                .user-account{
                    position: relative;           
                    .tooltips{
                        display: var(--dp-s);
                        color: black;
                        transform: translate(-64%, 58%);
                        z-index: 100;
                        width: 300px;
                        padding-top: 25px;
                        .tooltip-body{
                            border-radius: 25px;
                            border: 1px solid #e6e6e6;
                            background-color: #fff;
                            padding: 15px;
                            box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.22);
                            &::before{
                                content: '';
                                border-width: 0 !important;
                            }
                            .sections{
                                display: grid;
                                grid-template-columns: repeat(2,1fr);
                                text-align: center;
                                row-gap: 20px;
                                column-gap: 5px;
                                a{
                                    display: block;
                                    padding: 20px 10px ;
                                    border-radius: 12px;
                                    font-weight: bold;
                                    font-size: 0.875;
                                    background-color: #fff;
                                    svg{
                                        margin-bottom: 10px;
                                    }
                                    &:hover{
                                        background-color: #e6e5ff;
                                    }
                                }
                            }
                            button{
                                background-color: #fff;
                                font-weight: bold;
                                font-size: 0.875rem;
                                margin-top: 35px;
                                svg{
                                    margin-right: 8px;
                                }
                            }
                            .member_ship{
                                display: block;
                                width: 100%;
                                text-align: center;
                               
                                background-color: #6e63ed;
                                color: #fff;
                                font-weight: 600;
                            }
                            .member_ship:first-child{
                                margin-bottom: 10px;
                            }
                        }
                    }
                    
                }

            }
        }
    }
    &-web-navbar{
        margin: auto;
        nav{
            display: flex;
            gap: 30px;        
            a{
                color: #000;
                font-weight: 400;
                font-size: 0.9375rem;
                &:hover{
                    color: #6f63ee;
                }
            }
            @include BootstrapMaxWidthResponsive(sm){
                gap: 25px;
                a:nth-child(2){
                    display: none;
                }
            }
            @include BootstrapMaxWidthResponsive(xxs){
                gap: 20px;
                a:nth-child(3){
                    display: none;
                }
            }
            @include BootstrapMaxWidthResponsive(xs){
                gap: 15px;
                a:nth-child(4){
                    display: none;
                }
                a{
                    font-size: 0.825rem;
                }
            }
        }
    }
    .close_2{
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0;
    }
    
}


#close-btn{
    position: absolute;
    left: -99999px;
    width: 0;
    height: 0;   
}
  

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadein_2 {
    from { top: -300px; }
    to { top: 160px; }
}

@keyframes fadein_3 {
    from { max-height: 0; }
    to { max-height: 660px; }
}




























