.userform{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(90deg, rgba(110,99,237,1) 21%, rgba(149,153,230,1) 78%);
    padding: 25px 0;
    &_wrapper{
        background-color: #fff;
        display: flex;
        align-items: center;
        width: 90%;
        padding: 15px;
        border-radius: 40px;
        margin: 0 auto;
        overflow: hidden;
        .form{
            &_img{
                width: 50%;
                img{
                    width: 100%;
                    height: 850px;
                    object-fit: cover;
                    border-radius: 25px;
                }
            }
            &_actions{
                width: 50%;
                display: flex;
                flex-direction: column;
                padding: 0 75px 0;
                .title{
                    img{
                        width: 76.8px;
                        height: 33px
                    }
                    h3{
                        font-weight: bold;
                        font-size: 3rem;
                        margin-top: 30px;
                    }
                    p{
                        color: #b4b4b4;
                        font-weight: 600;
                        a{
                            color: #6e63ed;
                            text-decoration: underline;
                        }
                    }
                }              
                form{
                    display: flex;
                    flex-direction: column;
                    padding-top: 40px;
                    label{
                        margin-bottom: 24px;
                        width: 80%;
                        position: relative;
                        svg{
                            position: absolute;
                            right: 1%;
                            top: 68.4%;
                            transform: translate(0,-50%);
                            color: #6e63ed;
                        }
                        p{
                            font-weight: bold;
                            margin-bottom: 7px;
                        }
                        input:not([type="checkbox"]){
                            background-color: #f4f4f4;
                            padding: 15px;
                            width: 100%;
                            border-radius: 15px;
                            border: 1px solid #fff;
                            font-weight: bold;
                           
                            &:hover{
                                border: 1px solid #6e63ed; 
                            }
                            &:focus{
                                box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                                border: 1px solid #6e63ed;
                            }
                            &::placeholder{
                                color: #b4b4b4;
                                font-weight: 600;
                            }
                        } 
                    }
                    .check{
                        display: flex;
                        align-items: center;
                        input[type="checkbox"]{
                            margin-right: 10px;
                        }
                        p{
                            margin-bottom: 0 !important;
                            font-size: 1rem !important;
                            a{
                                color: #6e63ed;
                                text-decoration: underline;
                            }
                        }
                        
                    }
                    .container_checkbox{
                        padding-left: 30px !important;
                        .validate_message{
                            top: 30px;
                        }
                    }
                    button,.form_div{
                        background-color: #6e63ed;
                        color: #fff;
                        margin-top: 10px ;
                        height: 56px;
                        max-height: 56px;
                        font-size: 1.05rem;
                        text-align: center;
                    }
                    .validate_message{
                        position: absolute;
                       
                        left: 0;
                        top: 90px;
                        font-size: 0.875rem;
                        color: #ea3943;
                        font-weight: 600;
                    }   
                    label:has(.validate_message) {
                        margin-bottom: 40px !important;
                        svg{
                            color: #ea3943;
                        }
                    }
                }
                
                .or{
                    color: #d2d2d2;
                    font-weight: bold;
                    text-align: center;
                    width: 80%;
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    span{
                        padding: 0 10px;
                    }
                    &::before,&::after{
                        content: '';
                        width: 50%;
                        background-color: #d2d2d2;
                        height: 2px;
                        border-radius: 4px;
                    }
                }
                button,.form_div{
                    text-align: center;
                    width: 80%;
                    border-radius: 25px;
                    padding: 15px;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    border: 1px solid #fff;
                    &:hover{
                        opacity: .9;
                        border: 1px solid #6e63ed;
                    }
                }
               
                & > button:first-of-type{
                    margin-bottom: 10px ;
                }
               
            }
        }
    }
    .already_message{
        background-color: #ea3943;
        width: 80%;
        text-align: center;
        color: #fff;
        font-size: bold;
        padding: 10px 0;
        border-radius: 12px;
    }
}