.help_categories{
    padding: 50px 0;
    @include BootstrapMaxWidthResponsive(lg){
        padding: 50px 10px;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title{
        margin-bottom: 60px;
        font-size: 40px;
        color: #000;
        font-weight: bold;
    }
    .categoriess{
        width: 1205px;
        max-width: 1205px;
        padding: 0 !important;
        border-width: 0 1px 1px 1px ;
        border-color: #625df6;
        border-style: solid;
        @include BootstrapMaxWidthResponsive(lg){
            width: auto;
            max-width: auto;
        }
        .nav-tabs{
            display: grid;
            grid-template-columns: repeat(8,1fr);
            align-items: center;
          
            background-color: #625df6;
            border-color:#625df6!important;
            border-width: 0 !important;
            height: 56px;
            @include BootstrapMaxWidthResponsive(lg){
                grid-template-columns: repeat(4,1fr);
                width: auto;
                max-width: auto;
                height: auto;
            }
            @include BootstrapMaxWidthResponsive(md_h){
                grid-template-columns: repeat(3,1fr);
               
            }
            @include BootstrapMaxWidthResponsive(xs){
                grid-template-columns: repeat(2,1fr);
               
            }
            @include BootstrapMaxWidthResponsive(xx){
                grid-template-columns: 1fr;
            }
            .nav-item{
                background-color: #625df6;
                display: flex;
                align-items: center;
                justify-content: center;
                @include BootstrapMaxWidthResponsive(lg){
                    
                }
                button{
                    white-space: nowrap;
                    background-color: #625df6;
                    color: #fff;
                    border-radius: 0;
                    border-width: 0 !important;
                    font-size: 15px;
                    height: 99%;   
                    @include BootstrapMaxWidthResponsive(lg){
                        padding: 10px 2px !important;
                    }
                    @include BootstrapMaxWidthResponsive(xs){
                        padding: 10px 12px !important;
                       
                    }
                    &:hover{
                        background-color: #1b1759;
                    }
                }
                .active{
                    background-color: #1b1759;
                }
                .nav-link{
                    margin-bottom: 0 !important;
                }
            }    
        }
        .accordion{
            padding: 40px 30px;
            .accordion-item:last-of-type .accordion-button.collapsed{
                border-radius: 0 !important;
            }
            &-item{
                border-width: 0px;
                button{
                    background-color: #fff !important;
                    font-size: 18px;
                    border-bottom: 1px solid #625df6;
                    padding: 16px 0px;
                }
            }
            .accordion-body{
                color: rgb(117, 117, 117);
                font-weight: 600;
                padding: 16px 0 !important;
            }
        }
        .accordion-button:not(.collapsed){
            button{
                background-color: #fff;
            }
        }
        .accordion-button:focus{
            box-shadow: none;
        }
    }
}