.user-profile{
    padding: 0 65px;
    background-color: #fff;
    @include BootstrapMaxWidthResponsive(xl){
        padding: 0 40px;
    }
    @include BootstrapMaxWidthResponsive(md){
        padding: 0 20px;
    }
    &-wrapper{
        display: flex;
        align-items: stretch;
        @include BootstrapMaxWidthResponsive(lg){
            flex-direction: column;
        }
        .left{
            width: 16%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 50px 0;
            @include BootstrapMaxWidthResponsive(lg){
                width: 100%;
                flex-direction: row;
            }
            @include BootstrapMaxWidthResponsive(xs){
                flex-direction: column;
            }
            .user-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #fff;
                padding: 21px 0 40px;
                border-radius: 17.5px;
                box-shadow: 0px 14px 18px -11px rgba(0, 0, 0, 0.375);
                @include BootstrapMaxWidthResponsive(lg){
                    padding: 0 0 40px;
                }
                p{
                    font-weight: 600;
                    color: #000;

                }
                img{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin: 25px 0;
                    outline: 1px solid #b4b4b4;
                    outline-offset: 10px;
                }
                h4{
                    font-size: 1.75rem;
                    font-weight: bold;
                    margin-bottom: 2.5px;
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 1.4rem;
                    }
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 1.2rem;
                    }
                }
                span{
                    font-weight: bold;
                    font-size: 0.875rem;
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 0.825rem;
                    }
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 0.75rem;
                    }
                }
            }
            .user-stats{
                @include BootstrapMaxWidthResponsive(lg){
                    flex-grow: 1;
                }
                & > p{
                    font-size: 1.5rem;
                    font-weight: 600;
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 1.2rem;
                    }
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 1rem;
                    }
                }
                ul{
                    margin: 20px 0;
                    @include BootstrapMaxWidthResponsive(lg){
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
                    }
                    // @include BootstrapMaxWidthResponsive(sm){
                    //     display: grid;
                    //     grid-template-columns: repeat(1,1fr);
                    // }
                    li{
                        margin-bottom: 20px;
                        .rewards{
                            display: flex;
                            align-items: stretch;
                            gap: 20px;
                            .rewards-icon{
                                border-radius: 17px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding:  17.5px;
                                min-height: 60px;
                                min-width: 60px;
                            }
                            &-text{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-evenly;
                                span{
                                    color: #b4b4b4;
                                    font-weight: 600;
                                    display: flex;
                                    align-items: center;
                                    line-height: 1.2;
                                    svg{
                                        color: #6963f7;
                                        margin-left: 6px;
                                        @include BootstrapMaxWidthResponsive(lg){
                                           display: none;
                                        }
                                    }
                                    
                                }
                                p{
                                    line-height: 0.8;
                                    font-weight: bold;
                                }                             
                            }
                        }  
                        .star{  
                            .rewards-icon{
                                background-color: #feeb9d;
                                svg{
                                    color: #ffc702;
                                }
                            }
                        } 
                        .helpful{
                            .rewards-icon{
                                background-color: #e6e5ff;
                                svg{
                                    color: #fff;
                                    background-color: #9e7dfe;
                                    width: 20px;
                                    height: 15px;
                                    border-radius: 4px;
                                }
                            }
                        }
                        .star2{  
                            .rewards-icon{
                                background-color: #d9e4fc;
                                svg{
                                    color: #6367e9;
                                }
                            }
                        } 
                        .sharp{  
                            .rewards-icon{
                                background-color: #ffd4b5;
                                svg{
                                    color: #e86100;
                                }
                            }
                        } 
                        .infinite{  
                            .rewards-icon{
                                background-color: #fee3f1;
                                svg{
                                    color: #e5666d;
                                }
                            }
                        } 
                    }
                              
                }
            }
        }
        .right{
            width: 84%;
            text-align: start;
            padding-left: 250px;
            padding-top: 27px;
            @include BootstrapMaxWidthResponsive(xl){
                padding-left: 150px;
            }
            @include BootstrapMaxWidthResponsive(lg){
                padding-left: 0;
                width: 100%;
            }
            .title{
                p{
                    font-size: 1.25rem;
                    color: #b4b4b4;
                    font-weight: 600;
                    @include BootstrapMaxWidthResponsive(xl){
                        font-size: 1.15rem;
                    }
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 1rem;
                    }
                    @include BootstrapMaxWidthResponsive(md){
                        font-size: 0.97rem;
                    }
                }
                h3{
                    font-size: 3.25rem;
                    color: #000;
                    font-weight: bolder;
                    @include BootstrapMaxWidthResponsive(xl){
                        font-size: 3rem;
                    }
                    @include BootstrapMaxWidthResponsive(lg){
                        font-size: 2.75rem;
                    }
                    @include BootstrapMaxWidthResponsive(md){
                        font-size: 2.5rem;
                    }
                }
            }
            .rewards-chart{
                padding: 40px 50px;
                @include BootstrapMaxWidthResponsive(xl){
                    padding: 30px 40px;
                }
                @include BootstrapMaxWidthResponsive(lg){
                    padding: 20px 30px;
                }
                @include BootstrapMaxWidthResponsive(md){
                    padding: 10px 15px;
                }
                .title{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    @include BootstrapMaxWidthResponsive(xs){
                        flex-direction: column;
                        gap: 15px;
                    }
                    p{
                        font-size: 1.5rem;
                        color: #000;
                        font-weight: 600;
                        @include BootstrapMaxWidthResponsive(xl){
                            font-size: 1.25rem;
                        }
                        @include BootstrapMaxWidthResponsive(lg){
                            font-size: 1.15rem;
                        }
                        @include BootstrapMaxWidthResponsive(md){
                            font-size: 1rem;
                        }
                    }
                    div{
                        display: flex;
                        align-items: stretch;
                        a{
                            display: flex;
                            align-items: center;
                            padding: 10px 15px;
                            border-radius: 18px;
                            gap: 10px;
                            color: #635ef7;
                            margin-left: 10px;
                            font-size: 0.9375rem;
                            font-weight: bold;
                            box-shadow: -2px 2px 22px -10px rgba(0,0,0,0.75);

                        }
                        a:first-child{
                            svg{
                                background-color: #635ef7;
                                color: #fff;
                                border-radius: 5px;;
                            }
                        }
                    }
                }
                .stats-info {
                    margin-top: 50px;
                    display: flex;
                    align-items:stretch;
                    @include BootstrapMaxWidthResponsive(md_h){
                       flex-direction: column;
                       gap: 40px;
                       align-items: center;
                    }
                    .info-price{
                        width: 55%;
                        @include BootstrapMaxWidthResponsive(md_h){
                           width: 100%;
                        }
                        ul{
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            li{
                                display: flex;
                                justify-content: space-between;
                                width: 72%;
                                @include BootstrapMaxWidthResponsive(md_h){
                                    width: 100%;
                                }
                                p{
                                    color: #000;
                                    font-weight: 600;
                                    font-size: 1.05rem;
                                    @include BootstrapMaxWidthResponsive(xl){
                                        font-size: 1rem;
                                    }
                                    @include BootstrapMaxWidthResponsive(lg){
                                        font-size: 0.9375rem;
                                    }
                                    @include BootstrapMaxWidthResponsive(md){
                                        font-size: 0.875rem;
                                    }
                                }
                                span{
                                    display: block;
                                    height: 4px;
                                    width: 100%;
                                    border-radius: 10px;
                                    background-color: #efefef;
                                }
                                .disabledd{
                                    color: #9e9e9d;
                                    display: flex;
                                    align-items: center;
                                    svg{
                                        color: #6963f7;
                                        margin-left: 6px;
                                    }
                                }
                            }
                            
                        }
                    }
                    .graph{
                        width: 45%;
                        position: relative;
                        display: flex;
                        justify-content: space-between;
                        @include BootstrapMaxWidthResponsive(md_h){
                            width: 100%;
                        }
                        @include BootstrapMaxWidthResponsive(xm){
                            flex-direction: column;
                            gap: 20px;
                            align-items: center;
                        }
                    }
                    .graph-container {
                        position: relative;
                        .percent {
                            display: block;
                            width: 244px;
                            height: 100%;
                        }
                        .circle {
                            stroke: #efefef;
                            fill: none;
                            stroke-width: 4;
                        }
                        // .circle:nth-child(2) {
                        // 	stroke: #efefef;
                        // }
                        .circle:nth-child(3) {
                            stroke: #fdcae4;
                        }
                        
                        .circle:nth-child(4) {
                            stroke: #918efc;
                        }
                        p {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 1rem;
                            font-weight: bold;
                            line-height: 1.5;
                            color: #000;
                            text-align: center;
                        }
                    }
                    .state{
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                        @include BootstrapMaxWidthResponsive(xm){
                            flex-direction: row;
                            gap: 20px;
                        }
                        .percent{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            .check,.watch{
                                display: flex;
                                align-items: center;
                                gap: 15px;
                                p{
                                    border-radius: 6px;
                                    padding: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                }
                                svg{   
                                }
                                span{
                                    font-weight: bold;
                                    @include BootstrapMaxWidthResponsive(xl){
                                        font-size: 0.9375rem;
                                    }
                                    @include BootstrapMaxWidthResponsive(lg){
                                        font-size: 0.875rem;
                                    }
                                }
                            }
                            .check{
                                p{
                                    background-color: #908dfc;
                                }
                                svg{
                                    color: #908dfc;
                                    path{
                                        color: #fff;
                                    }
                                }
                            }
                            .watch{
                                p{
                                    background-color: #fdc6e2;
                                }
                                svg{
                                    color: #fdc6e2;
                                    path{
                                        color: #fff;
                                    }
                                }
                            }
                            .value{
                                font-size: 3rem;
                                font-weight: bold;
                                text-align: end;
                                @include BootstrapMaxWidthResponsive(xl){
                                    font-size: 2.5rem;
                                }
                                @include BootstrapMaxWidthResponsive(lg){
                                    font-size: 2.2rem;
                                }
                            }
                        }
                    }
                }
              
            }
            .order-list{
                margin-top: 60px;
                .search-order{
                    display: flex;
                    align-items: center;
                    padding-right: 40px;
                    @include BootstrapMaxWidthResponsive(sm){
                        padding-right: 0;
                    }
                  
                    p,.search-reviews{
                        flex-grow: 1.75;
                    }

                    p{
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                    .search-reviews{
                        text-align: end;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 7px;
                        input::placeholder,svg{
                            color: #cdcdce;
                            font-weight: 600;
                        }
                        input{
                            font-weight: bold;
                        }
                    }
                    .date{
                        text-align: end;
                        flex-grow: 1;
                        display: flex;
                        align-items: center;
                        color: black;
                        font-weight: bold;
                        justify-content: flex-end;
                        @include BootstrapMaxWidthResponsive(sm){
                           display: none;
                        }
                        svg:first-child{
                            margin-right: 5px;
                        }
                        svg:last-child{
                            margin-left: 20px;
                            color: #645ff7;
                        }
                    }
                }
            }
            .product-carts{
                margin-top: 50px;
                
                .product-cart{
                    padding: 30px 50px;
                    border-radius: 20px;
                    box-shadow: 0px -2px 17px -7px rgba(0,0,0,0.45);
                    margin-bottom: 25px;
                    @include BootstrapMaxWidthResponsive(lg){
                        padding: 20px 40px;
                    }
                    @include BootstrapMaxWidthResponsive(md_h){
                        padding: 10px 30px;
                    }
                    @include BootstrapMaxWidthResponsive(sm){
                        padding: 10px 15px;
                    }
                    & > .info{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-bottom: 25px;
                        border-bottom: 2px solid #efefef;
                        @include BootstrapMaxWidthResponsive(xs){
                           flex-wrap: wrap;
                           gap: 20px;
                           padding-top: 10px;
                        }
                        p,a{
                            font-weight: bold;
                            span{
                                font-weight: 600 !important;
                            }
                        }
                        p:first-child{
                            
                            span{
                                padding: 3px 8px;
                                background-color: #feeb9d;
                                border-radius: 10px;
                            }
                        }
                        & > a{
                            color: #000;
                            border: 1px solid #000;
                            padding: 10px 25px;
                            border-radius: 22px;
                            svg{
                                margin-right: 10px;
                            }
                        }
                        @include BootstrapMaxWidthResponsive(xs){
                            p:nth-child(2){
                                display: none;
                            }
                        }
                    }
                    .productt{
                        margin-top: 40px;
                        &__detail{
                            display: flex;
                            padding: 25px 25px;
                            @include BootstrapMaxWidthResponsive(md_h){
                                padding: 0;
                            }
                            @include BootstrapMaxWidthResponsive(sm){
                                flex-direction: column;
                                align-items: center;
                            }
                            .product__img{
                                width: 12%;
                                @include BootstrapMaxWidthResponsive(sm){
                                    width: 100%;
                                    text-align: center;
                                    img{
                                        max-width: 150px;
                                        max-height: 150px;
                                        width: 150px;
                                        height: 150px;
                                        object-fit: contain;
                                    }
                                }
                                img{
                                    max-width: 74px;
                                    min-height: 72px;
                                    object-fit: cover;
                                    @include BootstrapMaxWidthResponsive(sm){
                                        max-width: 150px;
                                        max-height: 150px;
                                        width: 150px;
                                        height: 150px;
                                        object-fit: contain;
                                    }
                                }
                            }
                            .name{
                                width: 92%;
                               
                                .title{
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 30px;
                                    @include BootstrapMaxWidthResponsive(xm){
                                        flex-direction: column;
                                      
                                    }
                                    &__info{
                                        @include BootstrapMaxWidthResponsive(xm){
                                            display: flex;
                                            flex-direction: column;
                                            align-items: flex-start;
                                        }
                                        h4{
                                            font-size: 1.5rem;
                                            font-weight: bold;
                                            margin-bottom: 6px;
                                            text-align: end;
                                            white-space: nowrap;
                                        }
                                        a{
                                            display: flex;
                                            color: #6964f8;
                                            svg{
                                                margin-left: 6px;
                                            }
                                        }
                                        p{
                                            color: #f99d49;
                                        }
                                    }
                                }
                                & > p{
                                    margin-bottom: 10px;
                                }
                                p{
                                    font-size: 1.25rem;
                                    font-weight: bold;
                                }
                                span{
                                    font-weight: 600;
                                }
                                &_info{
                                    display: flex;
                                    align-items: flex-start;
                                    gap: 100px;
                                    margin: 30px 0;
                                    
                                    @include BootstrapMaxWidthResponsive(sm){
                                        flex-direction: column;
                                        gap: 10px;
                                        margin: 20px 0;
                                    }
                                    .info{
                                        display: flex;
                                        align-items: flex-start;
                                        gap: 40px;
                                        ul{
                                            list-style: circle;
                                            li{
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                       
                    }
                }
            }
        }
    }
}


























