.product_page{
    padding: 10px 60px;
    @include BootstrapMaxWidthResponsive(xl){
        padding: 10px 40px;
    }
    @include BootstrapMaxWidthResponsive(md){
        padding: 10px 25px;
    }
    @include BootstrapMaxWidthResponsive(xxs){
        padding: 10px 10px;
    }
    .bread_crumbb{
        span{
            font-weight: 600;
        }
        span:first-child{
            color: #b4b4b4;
        }
        span:last-child,svg{
            color: #000;
        }
        svg{
            margin: 0 12px;
        }
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        @include BootstrapMaxWidthResponsive(xs){
            flex-direction: column;
            gap: 20px;
        }
        .title{
            display: flex;
            align-items: baseline;
            h2{
                font-size: 2.5rem;
                font-weight: bold;
                margin-right: 15px;
                @include BootstrapMaxWidthResponsive(md){
                    margin-right: 0px;
                    font-size: 2rem;
                }
            }
            span{
                color: #b4b4b4;
                font-weight: 600;
                @include BootstrapMaxWidthResponsive(xs){
                    display: none;
                }
            }
        }
        .search-detail{
            display: flex;
            gap: 25px;
           
            @include BootstrapMaxWidthResponsive(md){
                gap: 10px;
                flex-wrap: wrap;
            }
            @include BootstrapMaxWidthResponsive(md_h){
                justify-content: center;
            }
            button{
                border-color: #fff;
                font-weight: bold;
                padding: 20px 30px;
                background-color: #f4f4f4;
                border-radius: 30.5px;
                position: relative;
                @include BootstrapMaxWidthResponsive(md){
                    font-size: 0.925rem;
                }
                &:hover{
                    background-color: #e6e4ff;
                }
            }   
            .active{
                background-color: #e6e4ff;
                &::before{
                    content: '';
                    position: absolute;
                    display: block;
                    height: 5px;
                    width: 40px;
                    border-radius: 8px;
                    background-color: #736beb;
                    bottom: 0;
                    left: calc(50%);
                    transform: translate(-50%,0);
                }
            }
            button:last-child{
                margin-left: 75px;
                @include BootstrapMaxWidthResponsive(md){
                    margin-left: 0px;
                }
            }
        }
    }
    .product_list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 75px 0;
        gap: 60px 50px;
        justify-content: space-between;
        @include BootstrapMaxWidthResponsive(xl){
            grid-template-columns: repeat(3,1fr);
            margin: 50px 0;
        }
        @include BootstrapMaxWidthResponsive(md){
            grid-template-columns: repeat(2,1fr);
            margin: 50px 0;
        }
        @include BootstrapMaxWidthResponsive(xxs){
            grid-template-columns: repeat(1,1fr);
            margin: 25px 0;
        }

        .productts{
        width: 100%;
        color: #000;
        .productts_img{
            position: relative;
            .add_baskets{
                position: absolute;
                bottom: 25px;
                right: 25px;
                cursor: pointer;
                svg{
                    color: #736beb
                }
            }
            .add_favorite{
                color: #6f63ee;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
            .add-basket-warning{
                position: absolute;
                left: 50%;
                bottom:25px;
                color: black;
                background-color: #fdeaa2;
                display: flex;
                align-items: center;
                justify-content: space-around;
                /* gap: 10px; */
                border-radius: 20px;
                padding: 5px 12.5px;
                font-weight: 600;
                width: 201px;
                transform: translate(-50%, 10px);
            }           
          
        }
        &:has(.productts_img:not(:hover)) .add_favorite{
            display: none;
        }
        &:has(.productts_img:hover) .add_favorite{
            display: block;
        }
        }
        .productts_info{
            color: #000 !important;
            display: flex;
            flex-direction: column;
        }
        // &:has(.productts_img:not(:hover)) .add_baskets svg{
        //     display: block !important;
        //     color: #736beb;
            
        // }
        // &:has(.productts_img:hover) .add_baskets svg{
        //     display: block !important;
        //     color: #736beb;
        //     animation: .4s hovered ease;
        // }
    }
}


.animateWarning{
    animation-name: hovered;
    animation-duration: 1.25s;
}

@keyframes hovered{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}