.user__info{
    background-color: #fff;
    padding: 40px 60px;
    &__wrapper{
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        
        .sidebar{
            width: 12.5%;
            min-width: 210px;
            & > p {
                margin-bottom:20px;
                border: 1px solid #e6e6e6;
                border-radius: 8px;
            }
            p{
                font-weight: 600;
                font-size: .9375rem;
                padding: 16px;
               
            }
            .sidebar_menu{
                border: 1px solid #e6e6e6;
                border-radius: 8px;
                p{
                    border-bottom: 1px solid #e6e6e6;
                }
                ul{
                    padding: 10px 0;
                    li{
                        padding: 0 5px;
                        a{
                            display: flex;
                            align-items: center;
                            font-weight: 600;
                            padding: 8px 6px;
                            font-size: 0.8725rem;
                            color: #000;
                            
                            svg{
                                margin-right: 12px;
                            }
                            &:hover{
                                background-color: #f0effd;
                                color: #6e63ed;
                                transition: .25s all;
                            }
                        }
                        .active{
                            background-color: #f0effd;
                            color: #6e63ed;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .user_info_2{
            width: 85%;
            margin-left: 125px;
            .titlee{
                font-size: 1.5rem;
                font-weight: bold;
                margin-bottom: 30px;
                border: 1px solid #e6e6e6;
                padding: 20px;
                border-radius: 8px;
            }
            .form-info{
                display: flex;
                justify-content: space-between;
                border: 1px solid #e6e6e6;
                
                border-radius: 8px;
                .left{
                    background-color: #fff;
                    border-right: 1px solid #e6e6e6;
                }
                .right{
                  
                }
                .left,.right{
                    width: 50%;
                    padding: 20px;
                    .title{
                        color: #6e63ed;
                        font-weight: bold;
                        font-size: 1rem;
                        margin-bottom: 25px;
                    }
                    form{
                        
                        padding: 10px 0;
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        .phone{
                            &_value{
                                display: flex;
                                align-items: stretch;
                                gap: 10px;
                                p{
                                    display: flex;
                                    align-items: center;
                                    border: 1px solid #e6e6e6;
                                    flex-grow: 0.15;
                                    border-radius: 12px;
                                    padding-left: 8px;
                                    font-weight: 600;
                                    &:hover{
                                        border: 1px solid #6e63ed; 
                                    }
                                    &:focus{
                                        box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                                        border: 1px solid #6e63ed;
                                    }
                                    &::placeholder{
                                        color: #b4b4b4;
                                        font-weight: 600;
                                    }
                                }
                                input{
                                    flex-grow: 1;
                                }
                            }
                        }
                        label{
                            display: flex;
                            flex-direction: column;
                            input{
                                border: 1px solid #e6e6e6;
                            }
                        }
                        .male{
                            
                        }
                    }
                    input:not([type="checkbox"]),input:not([type="radio"]){
                        padding: 10px;
                        border-radius: 12px;
                        &:hover{
                            border: 1px solid #6e63ed; 
                        }
                        &:focus{
                            box-shadow: 0 0 0 4px rgba(110,99,237,.3);
                            border: 1px solid #6e63ed;
                        }
                        &::placeholder{
                            color: #b4b4b4;
                            font-weight: 600;
                        }
                    }
                    label{
                        span{
                            margin-bottom: 10px;
                            font-weight: 600;
                        }
                    }
                    button{
                        padding: 13px 0;
                        text-align: center;
                        font-weight: 600;
                        background-color: #dddddd;
                        border-radius: 20px;
                        color: rgb(102, 102, 102);
                    }
                }
            }
            .user_address{
                border: 1px solid #E6E6E6;
                padding: 20px;
                border-radius: 8px;
                .address{
                    &_add{
                        .address_label{
                            background-color: #6e63ed;
                            color: #fff;
                            padding: 10px 20px;
                            border-radius: 19.5px;
                            font-weight: bold;
                            font-size: 0.9175rem;
                            display: flex;
                            align-items: center;
                            
                            width: max-content;
                            cursor: pointer;
                            input[type="checkbox"]{
                                width: 0;
                                height: 0;
                                visibility: hidden;
                            }
                            svg{
                                margin-left: 10px;
                            }
                        }
                    }
                    &-list{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        gap: 20px;
                        width: 100%;
                        box-sizing: border-box;
                        padding: 20px;
                        margin-top: 15px;
                        box-shadow: 0 1px 1px 0 rgb(0 0 0%);
                        background-color: #fff;
                        min-height: 460px;
                        border: solid 1px #e2e2e2;
                        border-radius: 6px;

                    }
                }
                &_section{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 999;
                    background-color: rgba(#000,.2);
                    
                    .address_form{
                        background-color: #fff;
                        width: 525px;
                        border-radius: 6px;              
                        overflow-y: hidden;
                        overflow-x: hidden;
                        
                        animation: tops .4s ease-in-out;
                        .title{
                            font-size: 1.2rem;
                            color: #000;
                            font-weight: 600;
                            padding: 14px 20px;
                            border-bottom: 1px solid #E6E6E6;
                            display: flex;
                            justify-content: space-between;
                            svg{
                                color: #9B9B9B;
                                cursor: pointer;
                            }
                        }
                        form{
                            margin: 15px 20px 20px;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 30px;
                            label{
                                display: flex;
                                flex-direction: column;
                               
                                span{
                                    font-weight: 600;
                                    font-size: 0.75rem;
                                    margin-bottom: 10px;
                                }
                                input,textarea{
                                    background-color: #FBFBFB;
                                    width: 100%;
                                    border: 1px solid #E6E6E6;
                                    border-radius: 6px;
                                    padding: 12px 10px;
                                    font-size: 0.75rem;
                                    transition: all .3s ease;
                                    &:focus{
                                        background-color: #fff;
                                        border: solid 1px #6e63ed;
                                        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
                                    }
                                   
                                }
                                textarea{
                                    resize: none;
                                    height: calc(3em + 4px*3 + 20px);
                                }
                                
                            }
                            .w-2{
                                width: calc(50% - 15px) !important;
                            }
                            .w-1{
                                width: 100%;
                            }
                            button{
                                width: 100%;
                                background-color: #6e63ed;
                                padding: 10px 0;
                                border-radius: 18px;
                                text-align: center;
                                color: #fff;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}


body:has(.address_label input:not(:checked)) .user__info .user_info_2 .user_address  .user_address_section{
    display: none;
}
body:has(.address_label input:checked) .user__info .user_info_2 .user_address  .user_address_section{
    display: flex;
}
body:has(.address_label input:checked) {
    height: 100%;
    overflow: hidden;
}
body:has( .address_label input:not(:checked)) {
    height: auto;
    overflow: auto;
}


@keyframes tops{
    0%{
        transform: translateY(-600px);
    }
    100%{
        transform: translateY(0px);
    }
}