.user_basket{
    padding: 10px 60px 100px;
    width: 100%;
    @include BootstrapMaxWidthResponsive(xl){
        padding: 10px 30px 100px;
    }
    @include BootstrapMaxWidthResponsive(sm){
        padding: 10px 15px 100px;
    }
    .go_back{
        a{
            display: flex;
            align-items: center;
            color: #000;
            font-weight: 600;
            gap: 12px;
        }
    }
    &_content{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        @include BootstrapMaxWidthResponsive(xl){
            flex-direction: column;
            align-items: center;
        }
        .left{
            width: 58%;
            min-width: 900px;
            @include BootstrapMaxWidthResponsive(xl){
                order: 2;
                width: 100%;
            }
            .title{
                display: flex;
                align-items: baseline;
                @include BootstrapMaxWidthResponsive(sm){
                   flex-direction: column;
                   align-items: center;
                }
                h3{
                    font-size: 2.75rem;
                    font-weight: bold;
                    margin-right: 10px;
                    @include BootstrapMaxWidthResponsive(sm){
                        width: 100%;
                        text-align: center;
                        font-size: 2rem;
                    }
                }
                span{
                    color: #b4b4b4;
                    font-weight: 600;
                    font-size: 1.1rem;
                }
            }
            .items{
                display: flex;
                flex-direction: column;
                gap: 50px;
                margin-top: 75px;
                padding: 0 10px;
                @include BootstrapMaxWidthResponsive(md_h){
                    margin-top: 30px;
                    position: relative;
                }
                .no-item{
                    font-size: 1.1rem;
                    font-weight: bold;
                    background-color: #fdeaa2;
                    padding: 12.5px 10px ;
                    border-radius: 20px;
                    @include BootstrapMaxWidthResponsive(md_h){
                        width: 400px;
                    }
                    @include BootstrapMaxWidthResponsive(sm){
                       width: 300px;
                       font-size: 0.9376rem;
                       position: absolute;
                       left: 50%;
                       transform: translate(-50%, 10px);
                       text-align: center;
                    }
                }
                .item{
                    display: grid;
                    grid-template-columns: 1.2fr 1fr 0.86fr;
                    align-items: center;
                    position: relative;
                    @include BootstrapMaxWidthResponsive(md_h){
                        grid-template-columns: 1fr 1fr;
                    }
                    @include BootstrapMaxWidthResponsive(sm){
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                    }
                    .info{
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        img{
                            width: 102px;
                            height: 100px;
                            object-fit: contain;
                            @include BootstrapMaxWidthResponsive(md_h){
                                width: 153px;
                                height: 150px;
                            }
                        }
                        .product-name{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            p{
                                font-size: 1.25rem;
                                font-weight: 700;
                                margin-bottom: 15px;
                                @include BootstrapMaxWidthResponsive(sm){
                                    font-size: 1rem;
                                }
                            }
                            span,div{
                                font-weight: 600;
                                font-size: 0.825rem;
                                @include BootstrapMaxWidthResponsive(sm){
                                    font-size: 0.75rem;
                                }
                            }
                            span{
                                color: #b4b4b4;
                                display: block;
                            }
                            div{
                                color: #000;
                                svg{
                                    margin-right: 7px;
                                }
                            }
                        }
                    }
                    .piece{
                        display: flex;
                        align-items: center;
                        gap: 25px;
                        @include BootstrapMaxWidthResponsive(md_h){
                            justify-content: flex-start;
                            gap: 17.5px;
                        }
                        .number{
                            padding: 5px 10px;
                            border: 1px solid #b4b4b4;
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            button{
                                background-color: inherit;
                                border: 0;
                                font-weight: bold;
                                padding: 0 5px;
                                color: #b4b4b4;
                                font-size: 1.25rem;
                            }
                            span{
                                font-weight: bold;
                                display: inline-block;
                                margin: 0 10px;
                            }
                            
                        }
                        p{
                            display: flex;
                            align-items: center;
                            color: #6a62f1;
                            font-weight: bold;
                            svg{
                                margin-right: 4px;
                            }
                        }
                    }
                    .price{
                        display: flex;
                        justify-content: space-between;
                        @include BootstrapMaxWidthResponsive(md_h){
                            grid-column-start: 2;
                            justify-content: flex-start;
                            gap: 15px;
                        }
                        @include BootstrapMaxWidthResponsive(sm){
                            grid-column-start: auto;
                        }
                        &_detail{
                           display: flex;
                           align-items: flex-end;
                           gap: 7px;
                            p{
                                font-size: 1.35rem;
                                font-weight: bold;
                                @include BootstrapMaxWidthResponsive(sm){
                                    font-size: 1.1rem;
                                }
                            }
                            & > div{
                                display: flex;
                                flex-direction: column;
                                span{
                                    display: block;
                                    font-weight: bold;
                                    font-size: 0.875rem;
                                    line-height: 1;
                                    @include BootstrapMaxWidthResponsive(sm){
                                        font-size: 0.75rem;
                                    }
                                }
                                span:first-child{
                                    color: black;
                                    text-decoration: line-through;
                                }
                                span:last-child{
                                    color: #b4b4b4;
                                }
                                
                            }
                        }
                    }
                    .close{
                        padding: 4px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .deletedMessage{
                        position: absolute;
                        background-color: #d62525;
                        font-weight: 600;
                        border-radius: 12px;
                        right: -140px;
                        top: 33px;
                        padding: 6px 6px;
                        color: #fff;
                        font-size: 0.9rem;
                        @include BootstrapMaxWidthResponsive(sm){
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
        .right{
            width: 25.5%;
            padding-right:0 !important;
            @include BootstrapMaxWidthResponsive(xl){
                width: 50%;
            }
            @include BootstrapMaxWidthResponsive(sm){
                width: 100%;
            }
            .title{
                margin-top: 15px;
                h4{
                    font-size: 2rem;
                    font-weight: bold;
                }
            }
            .info-price{
                margin-top: 30px;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    li{
                        display: flex;
                        justify-content: space-between;
                        color: #b4b4b4;
                        font-weight: bold;
                        @include BootstrapMaxWidthResponsive(sm){
                            font-size: 0.825rem;
                        }
                    }
                    li:first-child{
                        padding-bottom: 10px;
                    }
                    li:last-child{
                        margin-top: 30px;
                        font-size: 1.3rem;
                        @include BootstrapMaxWidthResponsive(sm){
                            font-size: 0.9rem;
                        }
                    }
                    li:first-child,li:last-child{
                        color: #000;
                    }

                    
                }
            }
            .go-order{
                width: 100%;
                background-color: #6a62f1;
                text-align: center;
                color: #fff;
                font-weight: bold;
                padding: 15px;
                border-radius: 30px;
                margin-top: 75px;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
                @include BootstrapMaxWidthResponsive(xl){
                    margin-top: 50px;
                }
                @include BootstrapMaxWidthResponsive(sm){
                    margin-top: 25px;
                    margin-bottom: 10px;
                }
                &:hover{
                    opacity: .9;
                }
            }
        }
    }
}