.user__info{
    background-color: #fff;
    padding: 20px 60px;
    &__wrapper{
        background-color: #fff;
        display: flex;
        gap: 30px;
        .sidebar{
            width: 15%;
        }
        .user_info_2{
            width: 85%;
        }
    }
}